#root, html, body{
    height: 100vh;

}

body{
    margin:0;
    background-color: #191414;
    /* background-image: url('components/paper.jpeg'); */
    background-size: cover;
}

*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}